# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Regression Model Evaluation

In [12]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [4]:
data.shape

(506, 14)

In [13]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [17]:
print(X_train.shape, y_train.shape)

(404, 13) (404, 1)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [15]:
from sklearn.linear_model import LinearRegression

In [19]:

linreg=LinearRegression()
linreg.fit(X_train, y_train)

pred_train=linreg.predict(X_train)
pred_test=linreg.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [20]:
from sklearn.metrics import r2_score

In [26]:
print('r2 for training set is: ', round(r2_score(y_train, pred_train),2))
print('r2 for test set is: ', round(r2_score(y_test, pred_test),2))

r2 for training set is:  0.75
r2 for test set is:  0.69

## 4. Calculate and print mean squared error for both the training and the testing set.

In [27]:
from sklearn.metrics import mean_squared_error

In [29]:
print('MSE for training set is: ', round(mean_squared_error(y_train, pred_train),2))
print('MSE for test set is: ', round(mean_squared_error(y_test, pred_test),2))

MSE for training set is:  20.82
MSE for test set is:  27.2

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [30]:
from sklearn.metrics import mean_absolute_error

In [31]:
print('MAE for training set is: ', round(mean_absolute_error(y_train, pred_train),2))
print('MAE for test set is: ', round(mean_absolute_error(y_test, pred_test),2))

MAE for training set is:  3.21
MAE for test set is:  3.64

## Classification Model Evaluation

In [34]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [35]:
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [36]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.20)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [49]:
log_model=LogisticRegression(max_iter=300)
log_model.fit(X_train, y_train.values)
log_pred_train = log_model.predict(X_train)
log_pred_test = log_model.predict(X_test)

C:\Users\User\ANACONDA3.7\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [53]:
log_train_acc = accuracy_score(y_train, log_pred_train)
log_test_acc = accuracy_score ( y_test, log_pred_test)

print('La precision para el set de train fue de: ', log_train_acc)
print('La precision para el test fue de :', log_test_acc)

La precision para el set de train fue de:  0.9583333333333334
La precision para el test fue de : 0.9

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [54]:
from sklearn.metrics import balanced_accuracy_score as BAS

In [70]:
print(f'Train Balanced Accuracy Score is: {BAS(y_train, log_pred_train):.3f}')  #:.3f es para darle 3 posiciones decimales a la impresion de la variable
print(f'Test Balanced Accuracy Score is: {BAS(y_test, log_pred_test):.3f}')

Train Balanced Accuracy Score is: 0.951
Test Balanced Accuracy Score is: 0.944

## 10. Calculate and print the precision score for both the training and the testing set.

In [59]:
from sklearn.metrics import precision_score, recall_score, f1_score

In [65]:
precision_train = precision_score(y_train, log_pred_train, average = 'micro')
precision_test = precision_score(y_test, log_pred_test, average = 'micro')

#recall = recall_score(y_train, log_pred_train)
#f1 = f1_score(y_train, log_pred_train)

print('la precision de train es de :', precision_train)
print(f'la precision de test es de {precision_test:.3f}')
#print('la sensitividad (recall) es de :', recall)
#print('la f1 es de :', f1)

la precision de train es de : 0.9583333333333334
la precision de test es de 0.900

## 11. Calculate and print the recall score for both the training and the testing set.

In [69]:
recall_train = recall_score(y_train, log_pred_train, average='micro')
recall_test = recall_score(y_test, log_pred_test, average='micro')

print(f'La sensibiidad de train es de {recall_train:.3f}')
print(f'La sensibiidad de test es de {recall_test:.3f}')

La sensibiidad de train es de 0.958
La sensibiidad de test es de 0.900

## 12. Calculate and print the F1 score for both the training and the testing set.

In [71]:
f1_train = f1_score(y_train, log_pred_train, average='micro')
f1_test = f1_score(y_test, log_pred_test, average='micro')

print(f'F1 train score is = {f1_train:.3f}')
print(f'F1 test score is = {f1_test:.3f}')

F1 train score is = 0.958
F1 test score is = 0.900

## 13. Generate confusion matrices for both the training and the testing set.

In [72]:
from sklearn.metrics import confusion_matrix

In [74]:
#CM as in confussion matrix

CM_train = pd.DataFrame(confusion_matrix(y_train, log_pred_train), 
                       index = ['Setosa', 'Versicolour', 'Virginica'],
                        columns = ['Setosa', 'Versicolour', 'Virginica'])
CM_train

             Setosa  Versicolour  Virginica
Setosa           43            0          0
Versicolour       0           44          1
Virginica         0            4         28

In [75]:
CM_test = pd.DataFrame(confusion_matrix(y_test, log_pred_test), 
                       index = ['Setosa', 'Versicolour', 'Virginica'],
                        columns = ['Setosa', 'Versicolour', 'Virginica'])
CM_test

             Setosa  Versicolour  Virginica
Setosa            7            0          0
Versicolour       0            5          0
Virginica         0            3         15

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.